.content {
  margin-top: 40px;
}

.content__wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
}
.content__title {
  font-size: 50px;
  margin-bottom: 10px;
}
.content_subTitle {
  font-size: 23px;
  color: black;
  font-weight: 500;
}
